/* CUSTOM PROPS */
:root {
    --color-purple: #7C5DFA;
    --color-lightpurple: #9277FF;
    --color-light: #DFE3FA;
    --color-gray: #7E88C3;
    --color-red: #EC5757;
    --color-lightred: #FF9797;

    --color-light-bg: #F8F8FB;
    --color-dark-bg: #141625;
    --color-text: #0C0E16;
    --color-light-text: #888EB0;
    --color-nav-bg: #1E2139;
}